.grid {
	width: 100%;
	max-width: 1200px;
	margin: 0 auto;
}

.grid:before,
.row:before,
.grid:after,
.row:after {
	content: '';
	display: table;
}

.grid:after,
.row:after {
	clear: both;
}

.col {
	margin: 8px;
	padding: 0.6em;
}

[class*='col'] {
	width: 100%;
	min-height: 1px;
	float: left;
	box-sizing: border-box;
}