@import '_layout';
@import '_mediaQueries';
@import '_typography';

html, body, div, span, applet, object, iframe,blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

*,html,body {
	box-sizing: border-box;
}

body {
	font-family: 'Helvetica', 'Roboto', 'sans-serif';
	font-size: 1em;
}

$bodyColor: #353535;
$borderRadius: 4px;
$brandBlue: #476488;

.header {
	width: 100%;
	position: fixed;
	z-index: 1;
	background-color: white;

	nav {
		position: relative;
		padding: 8px 0;
	}

	img {
		width: 50%;
	}

	ul {
		text-align: right;
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		right: 20%;

		li {
			display: inline;
			margin: 20px;

			a{
				text-decoration: none;
				color: $brandBlue;
			}
		}
	}

	button {
		position: absolute;
		right: 0;
		top: 50%;
		transform: translateY(-50%);
	}
}

.cta {
	background: linear-gradient(to right, #4f719a, #476488);
	padding: 18px 28px;
	color: white;
	border-radius: 4px;
	font-size: 0.9em;
	&:hover {
		box-shadow: 10px 10px 22px rgba(0,0,0,0.2);
		cursor: pointer;
	}
	transition: all 100ms ease-in;
}

.heroSection {
	width: 100%;
	height: 700px;
	overflow: hidden;
	position: relative;
	&:after {
		content:'';
		position: absolute;
		z-index: -1;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background-color: rgba(0,0,0,0.5);
	}

	img {
		position: absolute;
		width: 100%;
		top: 10%;
		z-index: -2;
	}

	h1 {
		text-align: center;
		margin-top: 180px;
		padding: 0 200px;
		color: white;
		text-shadow: 3px 3px 4px rgba(0,0,0,0.8);
	}

	p {
		padding: 0 200px;
		color: white;
		font-weight: 300;
	}
}

.userInput {
	margin-top: 60px;
	text-align: center;

	input {
		border-radius: 4px;
		height: 52px;
		width: 260px;
		padding-left: 18px;
		border: none;
		font-size: 0.9em;
	}

	button{
		@extend .cta;
		border: none;
		font-size: 0.9em;
		&:hover {
			cursor: pointer;
		}
	}
}

.services {
	.card {
		padding: 20px;
		border-radius: $borderRadius;
		text-align: center;
		background-color: rgba($brandBlue,0.3);
	}

	h1 {
		color: #353535;
		text-align: center;
	}

	h2 {
		color: $brandBlue;
	}

	img {
		width: 30%;
	}
}


