@import '_layout';
@import '_mediaQueries';
@import '_typography';

html, body, div, span, applet, object, iframe,blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

*,html,body {
	box-sizing: border-box;
}

body {
	font-family:'Roboto', 'sans-serif';
	font-size: 1em;
	color: #545454;
	background: #efefef;
}

p {
	font-weight: 300;
	color: #9e9e9e;
}

$bodyColor: #353535;
$borderRadius: 4px;
$brandBlue: #476488;

.header {
	width: 100%;
	position: fixed;
	z-index: 1;
	background-color: white;

	nav {
		position: relative;
		padding: 8px 0;
	}

	img {
		width: 50%;
	}

	ul {
		text-align: right;
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		right: 20%;

		li {
			display: inline;
			margin: 20px;

			a{
				text-decoration: none;
				color: $brandBlue;
			}
		}
	}

	button {
		position: absolute;
		right: 0;
		top: 50%;
		transform: translateY(-50%);
	}
}

.cta {
	background: linear-gradient(to right, #4f719a, #476488);
	padding: 18px 28px;
	color: white;
	border-radius: 4px;
	border: none;
	font-size: 0.9em;
	text-transform: capitalize;
	&:hover {
		box-shadow: 10px 10px 22px rgba(0,0,0,0.2);
		cursor: pointer;
	}
	transition: all 100ms ease-in;
}

.heroSection {
	width: 100%;
	height: 700px;
	overflow: hidden;
	position: relative;
	&:after {
		content:'';
		position: absolute;
		z-index: -1;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background-color: rgba(0,0,0,0.5);
	}

	img {
		position: absolute;
		width: 100%;
		top: 10%;
		z-index: -2;
	}

	h1 {
		font-weight: 500;
		text-align: center;
		margin-top: 180px;
		padding: 0 200px;
		color: white;
		text-shadow: 3px 3px 4px rgba(0,0,0,0.8);
	}

	p {
		padding: 0 200px;
		color: white;
		font-weight: 300;
	}
}

.userInput {
	margin-top: 60px;
	text-align: center;

	input {
		border-radius: 4px;
		height: 52px;
		width: 260px;
		padding-left: 18px;
		border: none;
		font-size: 0.9em;
	}

	button{
		@extend .cta;
		border: none;
		font-size: 0.9em;
		&:hover {
			cursor: pointer;
		}
	}
}

.services {
	padding-bottom: 80px;

	.card {
		background: white;
		padding: 20px;
		border-radius: $borderRadius;
		text-align: center;
		box-shadow: 0px 14px 20px -2px rgba(0,0,0,0.1);
		height: 360px;
	}

	h1 {
		text-align: center;
		padding: 30px 0 20px 0;
	}

	h2 {
		color: $brandBlue;
		font-weight: 400;
	}

	img {
		width: 30%;
	}

	p {
		text-align: left;
	}
}

.testimonial {
	padding-top: 30px;
	background: linear-gradient(to right, #4f719a, #476488);

	h1 {
		color: white;
		text-align: center;
		font-weight: 100;
	}

}

.bx-wrapper {
	margin: 50px 0 100px 0;
	background-color: transparent;
	border: none;
	box-shadow: none;

	h3{
		color: white;
		text-align: center;
	}

	p {
		color: white;
		font-weight: 200;
		font-style: italic;
	}

	.bx-pager.bx-default-pager a {
		background: rgba(255,255,255,0.2);
	}

	.bx-pager.bx-default-pager a.active {
		background: white;
	}

	img {
		margin: 0 auto;
		width: 120px;
		height: 120px;
		border-radius: 60px;
		box-shadow: 0px 14px 40px -4px rgba(0,0,0,0.3);
	}

}

.lead {
	padding: 40px 0;

	input, textarea {
		height: 50px;
		font-size: 0.9em;
		padding-left: 18px;
		border-radius: $borderRadius;
		border: none;
		display: block;
		width: 70%;
		margin: 10px auto;
	}

	h1 {
		text-align: center;
		margin-bottom: 20px;
	}

	p {
		text-align: center;
	}

	textarea {
		height: 200px;
	}

	.cta {
		width: 70%;
		display: block;
		margin: 30px auto;
	}
}

.footer {

	img {
		width: 40%;
	}

	background-color: #495057;
	padding: 20px 0;

	iframe {
		width: 100%;
		height: 200px;
		border-radius: $borderRadius;
	}

	h4 {
		color: white;
	}
}



